beautifulsoup4
dask
neo4j
pandas
Requests
xmltodict
mygene
bioservices
pubchempy
biothings_client
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
